@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: o;
  overflow: hidden;
}

#canvas {
  border: 4px solid black;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
